.office {
  position: relative;
  .div1 {
    margin: 50px;
    width: 400px;
    height: 400px;
    background-color: red;
    .div2 {
      position: absolute;
      left: 0px;
      top: 0px;
      width: 200px;
      height: 200px;
      background-color: blue;
    }
  }
}
