.buttonWrap {
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  outline: unset;
  border: unset;
  margin: 0;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  text-decoration: none;
  text-align: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  background-color: turquoise;
}

.ripple {
  position: absolute;
  display: inline-block;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  span {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    pointer-events: none;
    transform: scale(0);

    &.start {
      transform: scale(0.2);
    }

    &.active {
      transform: scale(2);
      transition: transform 800ms, opacity 800ms;
      opacity: 0.2;
    }
  }
}
