.buttonWrap {
  display: inline-flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: unset;
  border: unset;
  margin: 0px;
  border-radius: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  -moz-appearance: none;
  -webkit-appearance: none;
  text-decoration: none;
}

.ripple {
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  pointer-events: none;
  transform: scale(0.2);

  .start {
    transform: scale(0.2);
  }

  .active {
    transform: scale(2);
    transition: transform 700ms, opacity 700ms;
    opacity: 0.2;
  }
}
