$imgs: '~assets/imgs/app/';

#root, .app {
  width: 100%;
  height: 100%;
  cursor: url($imgs + 'cursor.png'), auto;

  .content {
    width: 100%;
    height: 100%;
    display: flex;

    .mainArea {
      flex: 1 1 0;
    }
  }
}
