@import '../../assets/styles/base.scss';

#mco-root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 100%;

  .titleBar {
    width: 100%;
    height: 59px;
    background: hsla(0,0%,100%,.95);
    border-bottom: 1px solid #e2e2e2;
    box-shadow: 0 0 6px rgba(0,0,0,.06);
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .content {
    width: 100%;
    height: 100%;
    display: flex;

    .leftBar {
      position: relative;
      height: 100%;
      width: 280px;
      background-color: rgb(17, 24, 39);
    }

    .mainArea {
      flex: 1 1 0;
    }
  }
}
