.leftBar {
  position: relative;
  height: 100%;
  background-color: #2f3035;

  .resizer {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 5px;
    height: 100%;
    // cursor: ew-resize;
    user-select: none;
    z-index: 10;
  }
}
