.actPanels {
  position: relative;
  visibility: hidden;

  &[data-visible=true] {
    visibility: inherit;
  }

  .panel {
    position: absolute;
    visibility: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    user-select: none;

    &[data-visible=true] {
      visibility: inherit;
    }
  }
}
